@{
    ViewBag.Title = "Resume";
}
<h2><i>@ViewBag.Title</i></h2>
<h3>@ViewBag.Message</h3>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vSWITJacZ_La-RBgLXUmXHwQJItIul8yDmn97OzKQI9DlGQrA0Gda-EuQblNzOM9FMq3komNfjS7Zk2/pub?embedded=true" height="1450" width="1000"></iframe>

