@{
    ViewBag.Title = "Contact Info";
}
<h2><i>@ViewBag.Title</i></h2>
<h3>@ViewBag.Message</h3>

<address>
    Carmel, IN 46032<br />
    <abbr title="Phone">Phone: </abbr>
    317-650-9337
</address>

<address>
    <strong>Email:</strong>   <a href="benrose214@yahoo.com">benrose214@yahoo.com</a><br />
</address>