@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:black; padding: 0px;" class="jumbotron">
    <div style="background-color: orange; "><img style="float:right" src="~/Content/avatar.JPG" height="350" width="200" alt="Italian Trulli"></div>
    <h1 style="background-color:Orange;margin: 0px;"><i>Ben Rose</i></h1>

    <p style="color:orange;" class="lead">
    I am an up and coming software engineer looking for my first Junior position. I have completed an Internship and received my bachelors degree in computer science From Ball State University. I am currently working as a field Engineer for Alt & Witzig Engineering. My most valuable skills would be C#.NET along with backend development using SQL. I am also familiar with Java, Python, and how API's are created and used. I have a simple example of an API I recently created in C# on my Github that is linked below. This site was created using the C# ASP.NET framework.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github</h2>
        <p>
            I have provided a link to my Github account to view past projects.
        </p>
        <p><a class="btn btn-default" href="https://github.com/bcrose?tab=repositories">Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>I have provided a link to my LinkedIn account for easy access.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/benjamin-rose-5637a11a2/">LinkedIn &raquo;</a></p>
    </div>
</div>